/* блок оформления бегущей строки */
.marquee 
{
    width:100%;
    white-space:nowrap;
    overflow:hidden;
}

.marquee span 
{
    color:#07b9b9;
    font-size:25px;
    font-family: Terminal, monospace;
    font-weight: bold;
    display:inline-block;
    padding-left:100%;
    -webkit-animation: marquee 20s infinite linear;
    animation: marquee 20s infinite linear;
}

@-webkit-keyframes marquee 
{
    0%{-webkit-transform: translate(0, 0);}
    100%{-webkit-transform: translate(-100%, 0);}
}
@keyframes marquee 
{
    0%{transform: translate(0, 0);}
    100%{transform: translate(-100%, 0)}
}

/* блок оформления кнопок */
/* источник кода кнопок http://htmlbook.ru/practical/ssylka-kak-knopka */
.transition-button
{
        border: 1px solid #333; /* Рамка */
        display: inline-block;
        padding: 5px 15px; /* Поля */
        text-decoration: none; /* Убираем подчёркивание */
        color: #000; /* Цвет текста */
}

.transition-button:hover 
{
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
   }