@import url(reset.css);
header, nav, footer, article, aside, section {display: block;}

/* источник кода кнопки Выход https://html5css.ru/howto/howto_css_round_buttons.php */
.exit {
    background-color: #8f0c0c;
    border: 5px solid #640909;
    color: #ffffff8a;
    padding: 17px 15px 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}
.exit:hover
{
    background-color: #db1515;
    color: white;
}

/* общее для всех страниц оформление*/
body
{
    background-image: url('../images/322d40587.jpg');
    background-color: #515152;
}
.basis
{
    width: 640px;
    margin: 0 auto;
    background-image: url('../images/metal-texture_(14).jpg');
    background-color: #7b7d7e;
    border: 5px solid #565657;
}