@import url(reset.css);
header, nav, footer, article, aside, section {display: block;}

/* источник кода кнопки Выход https://html5css.ru/howto/howto_css_round_buttons.php */
.exit {
    background-color: #8f0c0c;
    border: 5px solid #640909;
    color: #ffffff8a;
    padding: 4px 4px 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    margin: 10px 2px;
    border-radius: 50px;
    width: 26px;
    height: 26px;
    float: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.6;
}
.exit:hover
{
    background-color: #db1515;
    color: white;
}

/* общее для всех страниц оформление*/
body
{
    background-image: url('../images/322d40587.jpg');
    background-color: #515152;
}
.basis
{
    width: 640px;
    margin: 0 auto;
    background-image: url('../images/metal-texture_(14).jpg');
    background-color: #7b7d7e;
    border: 5px solid #565657;
    border-radius: 10px;
    box-shadow: 1px 3px 0 0 #313131;
}