.wrapper
{
	overflow: hidden;
	position: relative;
	width: 620px;
	height: 364px;
}

.picture-bg
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.picture-sub
{
	position: absolute;
	width: 320px;
	height: 295px;
	top: 0px;
	left: -260px;
	z-index: 2;
	transition: left 3.5s ease-out;
}

.wrapper:hover .picture-sub
{
	left: 200px;
}